/* fonts */

@font-face {
  font-family: "Montserrat-Thin-100";
  src: url("../fonts/Montserrat-Thin.ttf");
}

@font-face {
  font-family: "Montserrat-ThinItalic-100";
  src: url("../fonts/Montserrat-ThinItalic.ttf");
}

@font-face {
  font-family: "Montserrat-ExtraLight-200";
  src: url("../fonts/Montserrat-ExtraLight.ttf");
}

@font-face {
  font-family: "Montserrat-ExtraLightItalic-200";
  src: url("../fonts/Montserrat-ExtraLightItalic.ttf");
}

@font-face {
  font-family: "Montserrat-Light-300";
  src: url("../fonts/Montserrat-Light.ttf");
}

@font-face {
  font-family: "Montserrat-LightItalic-300";
  src: url("../fonts/Montserrat-LightItalic.ttf");
}

@font-face {
  font-family: "Montserrat-Regular-400";
  src: url("../fonts/Montserrat-Regular.ttf");
}

@font-face {
  font-family: "Montserrat-Italic-400";
  src: url("../fonts/Montserrat-Italic.ttf");
}

@font-face {
  font-family: "Montserrat-Medium-500";
  src: url("../fonts/Montserrat-Medium.ttf");
}

@font-face {
  font-family: "Montserrat-MediumItalic-500";
  src: url("../fonts/Montserrat-MediumItalic.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBold-600";
  src: url("../fonts/Montserrat-SemiBold.ttf");
}

@font-face {
  font-family: "Montserrat-SemiBoldItalic-600";
  src: url("../fonts/Montserrat-SemiBoldItalic.ttf");
}

@font-face {
  font-family: "Montserrat-Bold-700";
  src: url("../fonts/Montserrat-Bold.ttf");
}

@font-face {
  font-family: "Montserrat-BoldItalic-700";
  src: url("../fonts/Montserrat-BoldItalic.ttf");
}

@font-face {
  font-family: "Montserrat-ExtraBold-800";
  src: url("../fonts/Montserrat-ExtraBold.ttf");
}

@font-face {
  font-family: "Montserrat-ExtraBoldItalic-800";
  src: url("../fonts/Montserrat-ExtraBoldItalic.ttf");
}

@font-face {
  font-family: "Montserrat-Black-900";
  src: url("../fonts/Montserrat-Black.ttf");
}

@font-face {
  font-family: "Montserrat-BlackItalic-900";
  src: url("../fonts/Montserrat-BlackItalic.ttf");
}