/* orderoptions */

.orderoptions-wrap {
  padding-top: 100px;
  background: rgba(38, 38, 38, 0.97);

  @media (max-width: 992px) {
    padding-top: 35px;
  }
}

/* .orderoptions {} */

.title-wrap__orderoptions {
  width: 100%;
}

.title__orderoptions {
  width: max-content;
  margin: 0 auto;
  font-family: 'Montserrat-Bold-700';
  font-size: 50px;
  line-height: 61px;
  text-align: left;

  @media (max-width: 1200px) {
    font-size: 48px;
    line-height: 60px;
  }

  @media (max-width: 992px) {
    font-size: 44px;
    line-height: 50px;
  }

  @media (max-width: 768px) {
    font-size: 40px;
    width: 90%;
    text-align: center;
  }

  @media (max-width: 576px) {
    font-size: 26px;
    line-height: 40px;
  }
}

/* .orderoptions-contant-wrap {} */

/* .orderoptions-contant {} */

.subtitle {
  position: relative;
  padding-left: 15px;
  font-family: 'Montserrat-Bold-700';
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
  color: #FEFEFE;

  @media (max-width: 992px) {
    font-size: 22px;
  }

  @media (max-width: 576px) {
    font-size: 16px;
  }

  &::after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 6px;
    height: 60px;
    background: #33A6FF;
    border-radius: 2px;
    content: '';

    @media (max-width: 768px) {
      height: 90px;
    }

    @media (max-width: 576px) {
      height: 115px;
    }
  }
}

.subtitle__orderoptions {
  margin-top: 60px;

  @media (max-width: 992px) {
    margin-top: 35px;
  }
}

.orderoptions-contant-list {
  margin-top: 60px;
  list-style-type: decimal;
  list-style-position: inside;

  @media (max-width: 992px) {
    margin-top: 45px;
  }
}

.orderoptions-contant-elem {
  margin-bottom: 35px;
  font-family: 'Montserrat-Regular-400';
  font-size: 18px;
  line-height: 22px;
  color: #FEFEFE;

  @media (max-width: 992px) {
    margin-top: 25px;
  }
}

.orderoptions-contant-href {
  color: #33A6FF;
  font-family: 'Montserrat-Bold-700';
}

.orderoptions-contant-href__telegram {
  color: #2f89ce;
}

.orderoptions-contant-href__viber {
  color: #7c509a;
}

.orderoptions-contant-href__whatsapp {
  color: #48c95f;
}

/* .orderoptions-img-wrap {} */

.orderoptions-img {
  position: relative;
  margin: 0 0 0 auto;
  bottom: -5px;
  width: max-content;
}

.img__orderoptions {
  width: 554px;
  height: 364px;

  @media (max-width: 1200px) {
    width: calc(554px * 0.9);
    height: calc(364px * 0.9);
  }

  @media (max-width: 992px) {
    width: calc(554px * 0.65);
    height: calc(364px * 0.65);
  }

  @media (max-width: 768px) {
    width: calc(554px * 0.55);
    height: calc(364px * 0.55);
  }

  @media (max-width: 576px) {
    width: calc(554px * 0.40);
    height: calc(364px * 0.40);
  }
}