/* order */

.order-wrap {
  position: relative;
  padding-top: $header-height;
  background-color: rgba(38, 38, 38);
  background-image: url("../images/bg-img-order.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    background-color: rgba(0, 0, 0, 0.85);
    content: "";
  }
}

/* .container__order {
} */
/* .order {
} */

.order-contant {
  position: relative;
  margin-top: 70px;
  min-height: calc(85vh - $header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  z-index: 3;

  @media (max-width: 992px) {
    margin-top: 0;
  }
}

.title-wrap {
  width: 920px;

  @media (max-width: 992px) {
    width: 530px;
  }

  @media (max-width: 768px) {
    width: 400px;
  }

  @media (max-width: 576px) {
    width: 260px;
  }
}

.title {
  font-family: "Montserrat-Bold-700";
  font-size: 40px;
  line-height: 46px;
  text-align: center;
  color: #fefefe;

  @media (max-width: 1200px) {
    font-size: 38px;
  }

  @media (max-width: 992px) {
    font-size: 36px;
  }

  @media (max-width: 768px) {
    font-size: 34px;
  }

  @media (max-width: 576px) {
    font-size: 26px;
    line-height: 40px;
  }
}

.title__order {
  &:nth-child(1) {
    text-transform: uppercase;
  }

  &:nth-child(2) {
    margin-top: 10px;
  }
}

/* .btn-wrap{} */

.btn-wrap__order {
  margin-top: 35px;
}

.btn {
  width: 338px;
  height: 72px;
  background: #33a6ff;
  border-radius: 12px;

  &:hover {
    cursor: pointer;
    box-shadow: 0px 4px 10px #1076c5;
  }

  &:active {
    box-shadow: inset 0px 4px 20px rgba(9, 113, 189, 0.5);
  }

  @media (max-width: 576px) {
    width: 280px;
    height: 58px;
  }
}

.btn__order {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Montserrat-SemiBold-600";
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #fefefe;

  @media (max-width: 576px) {
    font-size: 16px;
    line-height: 22px;
  }
}

.img-order-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img__order {
  width: 1000px;
  height: 298px;
  position: relative;
  top: 50px;

  @media (max-width: 1200px) {
    width: calc(1000px * 0.9);
    height: calc(298px * 0.9);
    top: calc(50px * 0.9);
  }

  @media (max-width: 992px) {
    width: calc(1000px * 0.75);
    height: calc(298px * 0.75);
    top: calc(50px * 0.65);
  }

  @media (max-width: 768px) {
    width: calc(1000px * 0.65);
    height: calc(298px * 0.65);
    top: calc(50px * 0.45);
  }

  @media (max-width: 576px) {
    width: calc(1000px * 0.35);
    height: calc(298px * 0.35);
    top: calc(50px * 0.25);
  }
}
