/* why */

.why-wrap {
  padding-bottom: 150px;

  @media (max-width: 992px) {
    padding-bottom: 70px;
  }
}

.why {
}

.title-wrap__why {
  width: 100%;
  margin-bottom: 80px;

  @media (max-width: 992px) {
    margin-bottom: 70px;
  }
}

.title__why {
  font-family: "Montserrat-Bold-700";
  font-size: 50px;
  line-height: 61px;
  color: #262626;

  @media (max-width: 1200px) {
    font-size: 48px;
    line-height: 60px;
  }

  @media (max-width: 992px) {
    font-size: 44px;
    line-height: 50px;
  }

  @media (max-width: 768px) {
    font-size: 40px;
    width: 90%;
    text-align: center;
  }

  @media (max-width: 576px) {
    font-size: 29px;
    line-height: 40px;
  }
}

.why-contant-wrap {
}

.why-contant {
  display: grid;
  grid-template-rows: repeat(1, 180px);
  grid-template-columns: repeat(5, 180px);
  grid-gap: 35px;
  width: min-content;
  margin: 0 auto;

  @media (max-width: 1200px) {
    grid-template-rows: repeat(2, 180px);
    grid-template-columns: repeat(4, 180px);
  }

  @media (max-width: 992px) {
    grid-template-rows: repeat(2, 180px);
    grid-template-columns: repeat(3, 180px);
    grid-gap: 30px;
  }

  @media (max-width: 768px) {
    grid-template-rows: repeat(2, 140px);
    grid-template-columns: repeat(3, 140px);
  }

  @media (max-width: 576px) {
    grid-template-rows: repeat(3, 130px);
    grid-template-columns: repeat(2, 130px);
    grid-gap: 20px;
  }
}

.why-contant-elem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 5px;
  border: 0 solid;
  border-radius: 12px;
  background-color: #fefefe;
  box-shadow: inset 4px 4px 20px 4px rgba(183, 195, 214, 0.25);

  &:hover {
    background-color: #33a6ff;
    box-shadow: 3px 3px 3px 3px rgba(51, 166, 255, 0.3), inset 0px 4px 4px #33a6ff;
    cursor: pointer;
  }

  &:hover path {
    fill: #fefefe;
  }

  &:hover .why-contant-text {
    color: #fefefe;
  }
}

.why-contant-elem-clarification {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px;
  border: 0 solid;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.7);
  box-shadow: 3px 3px 3px 3px rgba(51, 166, 255, 0.3), inset 0px 4px 4px rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(8px);
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.text__clarification {
  font-family: "Montserrat-Regular-400";
  font-size: 18px;
  line-height: 22px;
  color: #262626;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: 576px) {
    font-size: 14px;
    line-height: 18px;
  }
}

.img-wrap__why-contant {
  display: flex;
  align-items: center;
  justify-content: center;
}

svg {
  @media (max-width: 768px) {
    width: calc(100% * 0.9);
    height: calc(100% * 0.9);
  }

  @media (max-width: 576px) {
    width: calc(100% * 0.85);
    height: calc(100% * 0.85);
  }
}

.why-contant-text {
  font-family: "Montserrat-Regular-400";
  font-size: 18px;
  line-height: 22px;
  color: #262626;
  text-align: center;

  @media (max-width: 768px) {
    font-size: 16px;
    line-height: 20px;
  }

  @media (max-width: 576px) {
    font-size: 16px;
    line-height: 20px;
  }
}
